.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin: 1rem 0rem 1rem 1rem;
}

.App-header {
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title {
  margin: 1rem 1rem 1rem 3rem;
}

.Content {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Config {
  flex: 5 5 55%;
}

.Generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 4 4 auto;
  margin: 1rem;
}

.Generator-helpText {
  margin-bottom: 0.8rem;
}